
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* styling text */
h1 {
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	/* color values 
	color: red;
	color: rgb(110, 255, 0 );*/
	color: #003049; 
	/*color: hsla(120, 100%, 50%, 0.5 );*/
}
html {
	/*font-size: 32px;*/
}
body {
	font-size: 30px;
}
p {
	line-height: 1.5;
	text-indent: 20px;
	letter-spacing: 2px;
	/* font properties */
	font-family: ubuntu, lato, cursive, sans-serif;
	font-size: 1rem;
	}
h2 {
	font-style: italic;
	font-weight: bold;
	border: 1px solid black;
	width: 50%;
	border-radius: 45px;
}
/* link states */
/* unvisited link */
a:link {
	color: #780000;
	text-decoration: none;
}
/* visited link */
a:visited {
	color: #c1121f;
}
/* hover */
a:hover{
	color: white;
	background-color: #780000;
}
/* selected link */
a:active {
	color: #fdf0d5;
	background-color: #c1121f;
}
/* background properties */
body {
	background-color: lightgray;
	/*background-image: url("./dogs.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/
}
/* borders */
table, th, td {
	/*border-width: 1px;
	border-style: solid;
	border-color: black;*/
	border: 1px solid black;
	border-collapse: collapse;
	/*border-radius: 25px;*/
}

tr:hover {
	background-color: black;
	color: white;
}
/* padding */
div a{
	border: 1px solid black;
	/*padding-top: 20px;
	padding-bottom: 20px;*/
	padding: 20px;
	/* margins */
	margin: 10px;
}
/* display property*/
[type=text], [type=submit]{
	display: block;
	padding: 15px 25px;
	margin: 5px auto;
}
/* list properties */
ul {
	list-style-type: square;
	list-style-position: inside;
	/*list-style-image: url("dogs.jpg");*/
}
/* overflow property 
.parent {
	height: 100px;
	overflow: visible;
}*/
#first, #second {
	border: 1px dashed darkred;
	width: 200px;
}
#first {
	padding: 50px;
}
*{
	box-sizing: border-box;
}